<style>
    .page-header {
        padding: 0.25rem;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
    .page-title {
    }
    .page-title>h1 {
        font-size: 3rem;
        text-align: center;
        color: #ffffff38;
        text-shadow: 0 0 2px rgba(135, 206, 250, 0.753);
    }
</style>

<div class="page-header">
    <div class="page-title">
        <h1><%= title %></h1>
    </div>
</div>